body{
    margin: 0%;
}
.header, .menu, .content, .title-content, .card, .bot, .info, .Data, .Pesan{
    border: 2px solid rgb(4, 31, 51);
}
.header{
    display: flex;
    background-color: rgb(7,60,100);
    color: white;
    position: sticky;
    top: 0%;
}
.menu{
    margin-left: 45%;
    width: 100%;
    align-self: center;
    background-color: rgb(26,44,67);
}
li{
    font-size: larger;
    list-style-type: none;
    float: left;
    margin-right: 5%;
    margin-bottom: 4%;
}

li a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
background-color: rgb(213,140,100);
}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
display: block;
}

.content{
    background-color: rgb(248,249,251);
}
.title-content{
    text-align: center;
    color: rgb(7,60,100);
    font-style: italic;
}
.artikel{
    display: flex;
    flex-flow: row wrap;
}
.card{
    margin: 0%;
    height: 410px;
    background-color: white;
    flex: 200px;
    color: rgb(7,60,100);
}
.bot{
    display: flex;
    flex-flow: row wrap;
}
.info{
    margin: 0%;
    height: 410px;
    background-color: rgb(7,60,100);
    flex: 200px;
    color: white;
}
.Data{
    margin: 0%;
    height: 410px;
    background-color: rgb(7,60,100);
    flex: 200px;
    color: white;
}
.Pesan{
    margin: 0%;
    height: 410px;
    background-color: rgb(7,60,100);
    flex: 200px;
    color: white;   
}