body{
    margin: 0%;
    background-color: #ff976e;
}

.header{
    display: flex;
    background-color: #a13b12;
    color: white;
    position: sticky;
    top: 0%;
}

.menu{
    margin-left: 40%;
    width: 100%;
    align-self: center;
    background-color: #EA5B24;
}
li{
    font-size: larger;
    list-style-type: none;
    float: left;
    margin-right: 5%;
    margin-bottom: 4%;
}

li a, .dropbtn{
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
background-color: #cb4b18;
}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.dropdown-content a {
color: rgb(200, 52, 52);
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
display: block;
}

.content{
    background-color: #ff976e;
}
.title-content{
    text-align: center;
    color: white;
    font-style: italic;
    background-color: #ff976e;
}
.artikel{
    display: flex;
    flex-flow: row wrap;
    
}
.card{
    margin: 0%;
    height: 410px;
    background-color: #ff976e;
    flex: 200px;
    color: white;
}
.bot{
    display: flex;
    flex-flow: row wrap;
}
.info{
    margin: 0%;
    height: 410px;
    background-color: #EA5B24;
    flex: 200px;
    color: white;
}
.Data{
    margin: 0%;
    height: 410px;
    background-color: #EA5B24;
    flex: 200px;
    color: white;
}
.Pesan{
    margin: 0%;
    height: 410px;
    background-color: #EA5B24;
    flex: 200px;
    color: white;   
}